body{
    background:#E7E1C9;
    cursor: url(images/susuwatari.cur), auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(101, 95, 95);
    border-radius: 10px;
    
}

nav, a, input, button{
    cursor: url(images/susuwatari.cur),auto;
}
h1
 {
  font-family: 'Indie Flower',cursive;
  position: absolute;
  font-size: 95px;
  left: 862px;
  line-height: 85%;
  margin-top: 190px;
}

.encabezado{
    max-width: 1350px;
}

.encabezado img{
    display: flex;
    width: 600px; 
    
}

.encabezado h1{
    font-family: 'Indie Flower';
    font-size: 160px;
    align-items: center;
    position: absolute;
    left: 780px;
    top: -120px;
}

.encabezado h2{
    font-family: 'Indie Flower';
    font-size: 80px;
    align-items: center;
    position: absolute;
    left: 890px;
    top: 80px;
}

.encabezado nav{
    display: flex;
    font-family: 'Indie Flower';
    font-size: 25px;
    background: #8D876F;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    width: 105%;
}

.encabezado a{
    text-decoration: none;
    color:#ffffff;
    width: 100%;
}

.inicio{
    display: flex;
    padding: 5%;
}

.inicio img{
    width: 300px;
    /* background-color: coral; */
    margin: 0 50px 0 50px;
    border-radius: 15px;
}

.inicio p{
    font-family: 'Comic Neue';
    font-size: 20px;
    text-align: center;
    /* background-color: aquamarine; */
    line-height: 45px;
    vertical-align: middle;
    margin: 0 50px 0 20px;
}

#encabezado2{
    width: 400px;

}
.peliculas{
    /* background-color: green; */
     width: auto;
     margin: 0 auto;
}

.peliculas nav{
    background-color:#D9D9D9;
    font-family: 'Comic Neue';
    font-size: 20px;
    line-height: 25px;
    width: 220px;
    height: 240px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
    padding: 0px 5px 5px 20px;
    margin: 80px 5px 5px 30px;
    border-radius: 20px;
    float: left;
}

.peliculas h2{
   
    font-family: 'Indie Flower';
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}
h3{
    font-size: 33px;
    font-family: 'Indie Flower';
}    

.posters{
    /* background-color:mediumvioletred; */
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px 20px 60px;
    margin: auto;
    width: 72%; 
   
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.cards img{
    width: 200px;
    height: 270px;
    border-radius: 5%;
    margin: 2%;
}

.cards h2{
    font-size:20px;
}


.cards p{
    font: size 18px;
    font-family: 'Comic Neue';
    text-align: center;
    line-height: 0px;
     
}

.card #score{
    font-size: 20px;
    position: absolute;
    font-weight:bold;
    right:24px;
    margin-top: -35px;
    
}
.card{
    position: relative;
    margin: 1%;
    width: 210px;
}

#star{
    position:absolute;
    width: 40px;
    height: 40px;
    padding-top: 105%;
    right:10px;
    
}
footer{
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 18px;
}

