body{
    background:#E7E1C9;
}

.encabezado{
    max-width: 1350px;
}

.encabezado img{
    display: flex;
    width: 600px; 
    
}

.encabezado h1{
    font-family: 'Indie Flower';
    font-size: 160px;
    align-items: center;
    position: absolute;
    left: 780px;
    top: -120px;
}

.encabezado h2{
    font-family: 'Indie Flower';
    font-size: 80px;
    align-items: center;
    position: absolute;
    left: 890px;
    top: 80px;
}

.encabezado nav{
    display: flex;
    font-family: 'Indie Flower';
    font-size: 25px;
    background: #8D876F;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.encabezado a{
    text-decoration: none;
    color:#ffffff
}

.inicio{
    display: flex;
    padding: 5%;
}

.inicio img{
    width: 300px;
}

.inicio p{
    font-family: 'Comic Neue';
    font-size: 20px;
    text-align: center;
    
}

#encabezado2{
    width: 400px;
}

.peliculas nav{
    background-color:#D9D9D9;
    width: 220px;
    height: 240px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
    border-radius: 20px;
}

.peliculas h2{
    text-align: center;
    padding-top: 5%;
}

/* main{
    background-color: aqua;
}  */

footer{
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 14px;
}
